body {
  margin-top: 10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/Monkey.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color:#f2f2f2 ;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div{
  margin:10px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2.5vw; /* 20px */
}

div a {
  font-size: 3vw; /* 20px */
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 0.02em;
  text-decoration-line: none;
  margin: auto;
  margin: 1rem; /* 24px */

}
